<h2>Add a Car Record</h2>

<div class="form-group">
     <label for="year">Year:</label>
     <input type="text" class="form-control" id="year" ng-model="year">
</div>
<div class="form-group">
     <label for="make">Make:</label>
     <input type="text" class="form-control" id="make" ng-model="make">
</div>
<div class="form-group">
     <label for="model">Model:</label>
     <input type="text" class="form-control" id="model" ng-model="model">
</div>
<div class="form-group">
     <label for="miles">Miles:</label>
     <input type="text" class="form-control" id="miles" ng-model="miles">
</div>
<div class="form-group">
     <label for="price">Price:</label>
     <input type="text" class="form-control" id="price" ng-model="price">
</div>
<div class="form-group">
     <label for="dealer_id">Dealer ID:</label>
     <input type="text" class="form-control" id="dealer_id" ng-model="dealer_id">
</div>
<button type="button" class="btn btn-primary" ng-click="addRecord()">Add Auto</button>

<br><br>
{{status}}
<!-- place to print status or request -->
<br><br>