<h2>All Students</h2>
<p><input type='text' ng-model='search_value'> Enter Search text</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>sid</th>
        <th>year</th>
        <th>make</th>
        <th>model</th>
        <th>miles</th>
        <th>price</th>
        <th>dealer_id</th>
    </tr>
    <tr ng-repeat="student in students | filter : search_value ">
        <td>{{student.sid}}</td>
        <td>{{student.year}}</td>
        <td>{{student.make}}</td>
        <td>{{student.model}}</td>
        <td>{{student.miles}}</td>
        <td>{{student.price | currency}}</td>
        <td>{{student.dealer_id}}</td>
    </tr>
</table>