<h4>Edit Student {{studentIndex + 1}} of {{maxIndex + 1}}</h4>

<div class="form-group">
     <label for="sid">CID:</label>
     <input type="text" class="form-control" id="sid" ng-model="student.sid" readonly>
</div>
<div class="form-group">
     <label for="year">Year:</label>
     <input type="text" class="form-control" id="year" ng-model="student.year" readonly>
</div>
<div class="form-group">
     <label for="make">Make:</label>
     <input type="text" class="form-control" id="make" ng-model="student.make" readonly>
</div>
<div class="form-group">
     <label for="model">Model:</label>
     <input type="text" class="form-control" id="model" ng-model="student.model" readonly>
</div>
<div class="form-group">
     <label for="miles">Miles:</label>
     <input type="text" class="form-control" id="miles" ng-model="student.miles">
</div>
<div class="form-group">
     <label for="price">Price:</label>
     <input type="text" class="form-control" id="price" ng-model="student.price">
</div>
<div class="form-group">
     <label for="dealer_id">Dealer ID:</label>
     <input type="text" class="form-control" id="dealer_id" ng-model="student.dealer_id" readonly>
</div>
<button type="button" class="btn btn-primary" ng-click="previousStudent()">&lt; previous </button> &nbsp;
<button type="button" class="btn btn-primary" ng-click="nextStudent()"> next &gt;</button> &nbsp;
<button type="button" class="btn btn-primary" ng-click="updateStudent()">Update</button> &nbsp;
<button type="button" class="btn btn-primary" ng-click="deleteStudent()">Delete</button>
<br><br>